body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

.bold {
    font-weight: 600;
}

#directions {
    padding: 2%;
    max-width: 50%;
    background-color: #aaa;
}

#inputs {
    padding: 2%;
    max-width: 50%;
    background-color: rgb(190, 148, 148);
}

ul li {
    margin: 2%;
}
