.App {
    margin: 2% 10%;
}

header,
main,
footer {
    background-color: #282c34;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-bottom: 1em;
    text-align: center;
}

.App-link {
    color: #61dafb;
}
