.App-logo {
    height: 10vmin;
    pointer-events: none;
}
html {
    background-color: #282c34;
}
.App-header {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
h1,
h2,
form {
    text-align: center;
}
.object-content {
    margin-left: 25%;
}
.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
