.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: "Josefin Sans", sans-serif;
}
p,
label {
    font-family: "Montserrat", sans-serif;
}
h2 {
    font-weight: 900;
    font-size: 2.5rem;
    border-bottom: 1px solid #fff;
}
.App-body {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    /* flex-direction: column;
    align-items: center; */
    justify-content: center;
    font-size: 1rem;
    color: white;
}

.App-body button {
    /* padding: 0.4rem; */
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.05, #ededed),
        color-stop(1, #dfdfdf)
    );
    background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
    background-color: #ededed;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    text-indent: 0;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #777777;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    height: 50px;
    /* line-height: 50px;
    width: 100px; */
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #ffffff;
}

.App-link {
    color: #09d3ac;
}

.icon {
    padding-bottom: 0.5%;
    border-radius: 10% 10% 0 0;
    margin: 0 1%;
    border-bottom: 2px solid #111;
}

.icon:hover {
    transition: 0.6s;
    background-color: white !important;
    -webkit-animation: wobble-hor-bottom 0.9s
        cubic-bezier(0.6, 0.04, 0.98, 0.335) both;
    animation: wobble-hor-bottom 0.9s cubic-bezier(0.6, 0.04, 0.98, 0.335) both;
    cursor: pointer;
}

.wobble-hor-bottom {
    -webkit-animation: wobble-hor-bottom 0.8s
        cubic-bezier(0.6, 0.04, 0.98, 0.335) both;
    animation: wobble-hor-bottom 0.9s cubic-bezier(0.6, 0.04, 0.98, 0.335) both;
}

/*
Custom Apps
*/
#account-app,
#cities-app {
    font-size: 1rem;
}
#account-reporter div,
#city-reporter div {
    display: inline-block;
    margin: 0 2%;
}
#card-holder {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.account-card,
.city-card {
    box-sizing: border-box;
    margin: 2% 1% 1% 0;
    background: whitesmoke;
    color: #223;
    min-width: 240px;
    max-width: 340px;
    padding: 2%;
    box-shadow: 5px 5px;
}

#ll-display {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    max-width: 800px;
}

.ll-node-vis,
.ll-arrow {
    display: inline-block;
    margin: 0 0.5em;
    background-color: #111;
    padding: 2%;
    min-width: 150px;
}

.ll-arrow {
    min-width: 30px;
    margin: 0 0.2em;
}

/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@keyframes wobble-hor-botto {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}
@keyframes wobble-hor-bottom {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

body {
    -webkit-animation: color-change-2x 8s linear infinite alternate both;
    animation: color-change-2x 8s linear infinite alternate both;
}

/**
 * ----------------------------------------
 * animation color-change-2x
 * ----------------------------------------
 */
@-webkit-keyframes color-change-2x {
    0% {
        background: #19dcea;
    }
    100% {
        background: #b22cff;
    }
}
@keyframes color-change-2x {
    0% {
        background: #19dcea;
    }
    100% {
        background: #b22cff;
    }
}
