* {
    transition: 0.2s;
}

.App {
    text-align: center;
    border-radius: 6px;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

header {
    padding-top: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: "Josefin Sans", sans-serif;
}
p,
label {
    font-family: "Montserrat", sans-serif;
}
h2 {
    font-weight: 900;
    font-size: 2.5rem;
    border-bottom: 1px solid;
}
.App-body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

button {
    border: none;
    box-sizing: border-box;
    margin: 12px;
    padding: 24px;
    width: 220px;
    text-transform: uppercase;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    background-size: 200%;
    transition: 0.6s;
    background-image: linear-gradient(to left, #12cbc4, #0652dd, #12cbc4);
}

button:hover {
    background-position: right;
}

.game-board button {
    box-shadow: 2px 2px #00000080;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.05, #ededed),
        color-stop(1, #dfdfdf)
    );
    background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
    background-color: #ededed;
    border-radius: 6px;
    text-indent: 0;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #777777;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    height: 50px;
    text-decoration: none;
    text-align: center;
}

.game a {
    text-decoration: underline;
    cursor: pointer;
    color: inherit;
}

.game-info ol li:first-child {
    text-decoration: wavy;
    font-weight: 500;
}

/* .game-info ol li:nth-child(10) {
    display: none;
} */

.game-info h3 {
    margin-top: 0;
}

input {
    box-sizing: border-box;
    padding: 10px 15px;
    font: small-caption;
    color: darkblue;
    outline: none;
    line-height: 1.5;
    border-radius: 8px;
    /* width: 220px; */
}

#sq-form-inputs {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.App-link {
    color: #09d3ac;
}

.icon {
    padding-bottom: 0.5%;
    border-radius: 10% 10% 0 0;
    margin: 0 1%;
    border-bottom: 2px solid #111;
}

.icon:hover {
    transition: 0.6s;
    background-color: white !important;
    -webkit-animation: wobble-hor-bottom 0.9s
        cubic-bezier(0.6, 0.04, 0.98, 0.335) both;
    animation: wobble-hor-bottom 0.9s cubic-bezier(0.6, 0.04, 0.98, 0.335) both;
    cursor: pointer;
}

.wobble-hor-bottom {
    -webkit-animation: wobble-hor-bottom 0.8s
        cubic-bezier(0.6, 0.04, 0.98, 0.335) both;
    animation: wobble-hor-bottom 0.9s cubic-bezier(0.6, 0.04, 0.98, 0.335) both;
}

/*
Custom Apps
*/
#account-app,
#cities-app {
    width: 100%;
    font-size: 1rem;
}
#account-reporter div,
#city-reporter div {
    display: inline-block;
    margin: 0 2%;
}

#account-interface,
#city-interface {
    width: 33%;
    float: left;
}

#city-maker input {
    width: 220px;
    margin: 12px;
}

.card-holder {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 66%;
    border-left: 2px white solid;
}

.account-card,
.city-card {
    box-sizing: border-box;
    margin: 2% 1% 1% 0;
    background: rgb(123, 160, 175);
    color: #223;
    min-width: 240px;
    max-width: 280px;
    padding: 2%;
    box-shadow: 5px 5px;
    border-radius: 2px;
}

.account-card h2 {
    margin-top: 0.4rem;
}

#ll-app {
    max-width: 55%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#ll-display {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
}

#ll-controls-nav {
    /* display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 50%); */
    /* grid-template-rows: repeat(3, auto); */
    /* width: 460px; */
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.ll-node-vis,
.ll-arrow,
.sq-node-vis {
    display: inline-block;
    margin-top: 8px;
    background-color: rgba(17, 17, 17, 0.5);
    padding: 2%;
    min-width: 20%;
}

.ll-arrow {
    min-width: 30px;
    margin: 0 0.2em;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.form-row input {
    width: 220px;
    margin: 12px;
}

.form-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.form-column input {
    width: 220px;
    margin: 12px;
}

#sq-vis-container {
    display: flex;
    align-content: space-between;
}

#stack-vis,
#queue-vis {
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    min-width: 300px;
    max-height: 600px;
}

.sq-node-vis {
    display: block;
}

*::-webkit-scrollbar {
    width: 1em;
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
    background-color: #0652dd;
    background-image: linear-gradient(to bottom, #12cbc4, #0652dd);
    outline: 1px solid slategrey;
    border-radius: 8px;
}

/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@keyframes wobble-hor-botto {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}
@keyframes wobble-hor-bottom {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

body {
    -webkit-animation: color-change-2x 8s linear infinite alternate both;
    animation: color-change-2x 8s linear infinite alternate both;
}

/**
 * ----------------------------------------
 * animation color-change-2x
 * ----------------------------------------
 */
@-webkit-keyframes color-change-2x {
    0% {
        background: #19dcea;
    }
    100% {
        background: #b22cff;
    }
}
@keyframes color-change-2x {
    0% {
        background: #19dcea;
    }
    100% {
        background: #b22cff;
    }
}
